<div *ngIf="messageService.messages.length">
    <h2>Messages</h2>
    <button (click)="messageService.clearMessage()" class="clear">Clear</button>
    <div *ngFor="let message of messageService.messages">
        {{message}}
    </div>
</div>