<h1>Hero Details</h1>
<div *ngFor="let hero of heroes" (click)="onSelect(hero)" >
    <h2>ID: {{hero.id}}</h2>
    <h2>Name: {{hero.name}}</h2>
</div>
<hr>
<!-- <div *ngIf="selectedHero">
    <h3>{{selectedHero.name | uppercase}} Details</h3>
    <div><span>ID: </span> {{selectedHero.id}} </div>
    <div>
            <input [(ngModel)]="selectedHero.name" type="text">
    </div>
</div> -->
<app-hero-detail [hero] =  "selectedHero"></app-hero-detail>